@using Microsoft.AspNetCore.Http;

@model inter.Models.ViewModels.DashboardViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        /* Ajustes para travar a tela e fazer apenas o conteúdo rolar */
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden; /* Remove o scroll do corpo principal */
        }

        /* Define a altura da área útil descontando o tamanho aproximado da navbar */
        .wrapper-conteudo {
            height: calc(100vh - 66px); 
        }

        /* Faz apenas a coluna do conteúdo ter scroll se o conteúdo passar do tamanho */
        .conteudo-rolavel {
            height: 100%;
            overflow-y: auto;
        }
    </style>
</head>

<body class="bg-light">

    <!-- NAVBAR SUPERIOR -->
    <nav class="navbar navbar-dark shadow" style="background-color:#F15A24;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Dashboard">
                <img src="/logo/logo.jpg" height="50" class="rounded-4">
            </a> 
            <div class="d-flex align-items-center me-4">
                <span class="text-white fw-semibold me-3">
                    Olá, @Context.Session.GetString("usuario")
                </span>
                <a href="/Login" class="btn btn-dark fw-bold">Sair</a>
            </div>
        </div>
    </nav>

    <!-- CONTAINER PRINCIPAL -->
    <div class="container-fluid wrapper-conteudo">
        <div class="row h-100">

            <!-- SIDEBAR (Agora ela se adapta perfeitamente à altura restante) -->
            <div class="col-2 p-0 h-100">
                <div class="bg-dark text-white h-100 p-3">
                    <h4 class="fw-bold mb-4" style="color:#F7931E;">
                        MENU
                    </h4>

                    <ul class="nav flex-column">

                        <li class="nav-item mb-2">

                            <a href="/Dashboard"
                                class="nav-link text-white fs-4 fw-bold rounded px-3 py-2">
                                Dashboard
                            </a>

                        </li>

                        <li class="nav-item mb-2">

                            <a href="/Produtos" class="nav-link text-white fs-4">
                                Estoque
                            </a>

                        </li>

                        <li class="nav-item mb-2">

                            <a href="/Pedidos" class="nav-link text-white fs-4">
                                Pedidos
                            </a>
                            
                        </li>

                        <li class="nav-item mb-2">

                            <a href="/Usuarios" class="nav-link text-white fs-4">
                                Usuários
                            </a>

                        </li>

                    </ul>
                </div>
            </div>

            <!-- CONTEÚDO (Este cara agora controla o próprio scroll) -->
            <div class="col-10 p-4 conteudo-rolavel">

                <h1 class="fw-bold mb-4">Dashboard</h1>

                <!-- CARDS -->
                <div class="row">
                   

                    <!-- PEDIDOS -->
                    <div class="col-md-4 mb-4">
                        <div class="card border-0 shadow">
                            <div class="card-body"
                            style="background-color: #e0ebfd;">
                                <h5 class="text-muted">Pedidos Totais</h5>
                                <h1 class="fw-bold">@Model.TotalPedidos</h1>
                            </div>
                        </div>
                    </div>

                    <!-- CLIENTES -->
                    <div class="col-md-4 mb-4">
                        <div class="card border-0 shadow"
                        style="background-color: #e8f8ec;">
                            <div class="card-body">
                                <h5 class="text-muted">Clientes Totais</h5>
                                <h1 class="fw-bold">@Model.TotalClientes</h1>
                            </div>
                        </div>
                    </div>

                     <!-- PRODUTOS -->
                    <div class="col-md-4 mb-4">
                        <div class="card border-0 shadow"
                        style="background-color: #fff1e6;">
                            <div class="card-body">
                                <h5 class="text-muted">Produtos Cadastrados</h5>
                                <h1 class="fw-bold">@Model.TotalProdutos</h1>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- ULTIMOS PEDIDOS -->
                <div class="card border-0 shadow mt-4 mb-4">
                    <div class="card-body">
                        <h4 class="mb-4">Últimos 5 Pedidos</h4>

                        @if (!Model.UltimosPedidos.Any())
                        {
                            <div class="alert alert-warning">
                                Nenhum pedido encontrado.
                            </div>
                        }
                        else
                        {
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Cliente</th>
                                        <th>Total Itens</th>
                                        <th>Status</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var pedido in Model.UltimosPedidos)
                                    {
                                        <tr>
                                            <td>@pedido.Id</td>
                                            <td>@pedido.ClienteId</td>
                                            <td>
                                                @(pedido.Itens != null
                                                    ? pedido.Itens.Sum(i => i.Quantidade)
                                                    : 0)
                                            </td>

                                            <td>
                                                @{
                                                    string corStatus = pedido.StatusId switch
                                                    {
                                                        1 => "bg-warning text-dark",
                                                        2 => "bg-info text-dark",
                                                        3 => "bg-primary",
                                                        4 => "bg-success",
                                                        5 => "bg-danger",
                                                        _ => "bg-secondary"
                                                    };
                                                }

                                                <span class="badge @corStatus">

                                                    @pedido.Status?.Descricao

                                                </span>
                                            </td>

                                            <td>@pedido.DataPedido.ToString("dd/MM/yyyy HH:mm")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>

                <!-- ÚLTIMOS CLIENTES -->
                <div class="card border-0 shadow mb-4">

                    <div class="card-body">

                        <h4 class="mb-4">

                            Últimos 5 Clientes

                        </h4>

                        @if(!Model.UltimosClientes.Any())
                        {
                            <div class="alert alert-warning">

                                Nenhum cliente encontrado.

                            </div>
                        }
                        else
                        {
                            <table class="table table-hover">

                                <thead>

                                    <tr>

                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Telefone</th>

                                    </tr>

                                </thead>

                                <tbody>

                                    @foreach(var cliente in Model.UltimosClientes)
                                    {
                                        <tr>

                                            <td>@cliente.Id</td>

                                            <td>@cliente.Nome</td>

                                            <td>@cliente.Email</td>

                                            <td>@cliente.Telefone</td>

                                        </tr>
                                    }

                                </tbody>

                            </table>
                        }

                    </div>

                </div>

            </div>

        </div>
    </div>

</body>
</html>